
  <% @tweets.each do |tweet| %>
  <div class="contents row">
      <div class="post-all">
       <%= link_to "#", class: 'item-img' do  %>
          <%= image_tag tweet.image   ,class: "content_post" %>
          
       <% end %>

        <div class='item-info'>
          <h3 class='item-name'>
            <%= link_to "#{tweet.name}", "#", method: :get %>
            
          </h3>
          <div class='item-price'>
            <span><%= link_to "#{tweet.price}円" %><br>
            <%= link_to "#{tweet.category_id}" , "#", method: :get %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>
    
  <% end %>
