  <div class="inner">
  <div class="card-wrapper">
   <% @tweets.each do |tweet| %>
    <div class="contents row">
      <div class="post-all">
        <div class="contents-header">
           <%= link_to "投稿者：#{tweet.user.nickname}" , user_path(tweet.user.id)%>
           <div class="more">

             <ul class="more_list">
              <li class="lint-content">
              <% if user_signed_in? && current_user == tweet.user%>
                 <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
                 <%= link_to '削除', tweet_path(tweet.id) , method: :delete%>
              <% elsif user_signed_in? %>
              <div class="like-link" id="like-link-<%= tweet.id %>">
                <%# <%= link_to '詳細', tweet_path(tweet.id), method: :get %>
                  <% if current_user&.like?(tweet)%> 
                   <%# # すでにいいね！してるか確認 %> 
                    <%= render 'likes/unlike_button', tweet: tweet %> 
                  <% else %>                  
                    <%= render 'likes/like_button', tweet: tweet %>
                  <% end %>
              </div>
              <% else %>
                <%= link_to '詳細', tweet_path(tweet.id), method: :get %>
              <% end %>
              </li>
             </ul>
           </div>
       </div>

       <%= link_to tweet_path(tweet.id), class: 'item-img' do  %>
          <%= image_tag tweet.images[0]   ,class: "content_post" %>
          
       <% end %>

        <div class='item-info'>
          <h3 class='item-name'>
            <%= link_to "商品名：#{tweet.name}", tweet_path(tweet.id), method: :get %>
            
          </h3>
          <div class='item-price'>
            <span><%= link_to "商品価格：#{tweet.price}円" %><br>
            <%= link_to "カテゴリ：#{tweet.category.name}" , tweet_path(tweet.id), method: :get %></span>
            <div class='star-btn'>
              <i class="bi bi-heart-fill number-of-iine">
              </i>
              <span class='star-count' id="like-link">
                <% arry = []%>
                <% count = 0 %>
                
                <% @likes.each do |l|%>
                  <% if tweet.id == l.tweet.id%>
                    <% count += 1%>
                  <% end %>
                <% end %>
                
                <%= count %>  
              
              </span>
            </div>
          </div>
        </div>
      </div>
     </div>
  <% end %>
</div>
</div>