<div class="contents row">
      <div class="post-all1">
        <div class="contents-header1">
          <%= link_to "ユーザー名", "#"%>
           <div class="more">

             <ul class="more_list">
              <li class="lint-content">
              <% if user_signed_in? && current_user == @tweet.user%>
                <%= link_to '編集', edit_tweet_path(@tweet.id), method: :get %>
                <%= link_to '削除', tweet_path(@tweet.id) , method: :delete%>
              <% end %>
              </li>
             </ul>
           </div>
       </div>
       
        <%# <%= image_tag @tweet.images[0]   ,class: "content_post1" %> 
          
          <div class="slider">
             <% @images.each do |image|  %>
             <%= image_tag image  ,class: "content_post1 " %>
            <% end %>
          </div>
        
       
       </div>


<table class="detail-table">
      <tbody>
        <tr>
           <th class="detail-item">商品名</th>
           <td class="detail-value"><%= "#{@tweet.name}" %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の感想</th>
          <td class="detail-value"><%= "#{@tweet.text}" %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= "#{@tweet.category.name}" %></td>
        </tr>
        <tr>
          <th class="detail-item">食感</th>
          <td class="detail-value"><%= "#{@tweet.texture.name}" %></td>
        </tr>
        <tr>
          <th class="detail-item">製造会社</th>
          <td class="detail-value"><%= "#{@tweet.company.name}" %></td>
        </tr>
        <tr>
          <th class="detail-item">値段</th>
          <td class="detail-value"><%= "#{@tweet.price}円" %></td>
        </tr>
        <tr>
          <th class="detail-item">JANコード</th>
          <td class="detail-value"><%= "#{@tweet.jan_code}" %></td>
        </tr>
      </tbody>
 </table>

 <div class="option">
      <div class="favorite-btn">
        <% unless user_signed_in? && current_user == @tweet.user %>
              <div class="like-link" id="like-link-<%= @tweet %>">
                <%# <%= link_to '詳細', tweet_path(tweet.id), method: :get %>
                  <% if current_user&.like?(@tweet)%> 
                   <%# # すでにいいね！してるか確認 %> 
                    <%= render 'likes/unlike_button', tweet: @tweet %> 
                  <% else %>                  
                    <%= render 'likes/like_button', tweet: @tweet %>
                  <% end %>
              </div>
              <% end %>
        <span> いいね！</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
 </div>

 <div class="comment-box">
  <% if user_signed_in? %>
  <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントを記入", rows: "3" %>
        <%= form.submit "コメントする" %>
      <% end %>
    
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
  
    <% else %>
     <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  

</div>