<!DOCTYPE html>
<html>
  <head>
    <title>MoguMogu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
   <header class="header">
      <div class="header__bar row1">
        <h1 class="grid-5"><a href="/">MoguMogu</a></h1>
      </div>
      <div class="header-search ">
        <%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form1") do |form| %>
         <%= form.text_field :keyword, class: "search-input1" %>
         <%= form.submit "検索", class: "search-btn1" %>
         <% end %>
      </div>    
       
       <% if user_signed_in? %>
          <div class="user_nav grid-6 header-right">
           <span><%= current_user.nickname %>
            <ul class="user__info">
              <li>
                <%= link_to "マイページ", "/users/#{current_user.id}" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </span>
            <%= link_to "投稿する", new_tweet_path, class: "post" ,class: "post1"%>
          </div>
        <% else %>
          <div class="grid-6">
            
            <%= link_to "ログイン", new_user_session_path, class: "post1" %>
            <%= link_to "新規登録", users_path, class: "post1" %>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright MoguMogu 2019.
      </p>
    </footer>
  </body>
</html>
